
          <div class="text-center">
            <h1 class="cover-heading">釣り情報</h1>
            <p class="lead">海釣りに関する様々な情報を記載</p>
            <p class="text-center">
             <%= link_to "Sign up!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
            </p>
          </div>